{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block content %}
<div class="container pb-5 mt-3">
    {% if posts %}
        <section>
            <h1 class="visually-hidden">View posts</h1>
            <div class="d-flex py-3">
                <input class="form-control flex-grow-1 me-2" placeholder="Search for posts">
                <button class="btn outline-button" >Search</button>
            </div>
            <div class="mt-3 d-flex flex-wrap gap-2">
                {% for post in posts %}
                <a class="text-decoration-none" href="{% url 'post-view' post.id %}">
                    <div class="card" style="width:400px">
                        <div class="card-body p-4">
                            <h2 class="h4 fw-bold">{{post.title}}</h2>
                            <p>By: {{post.author.get_full_name}}</p>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </section>
        <div class="mt-5 mb-3">
            <hr />
        </div>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <!-- Previous Page Link -->
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&laquo;</span>
                </li>
                {% endif %}
        
                <!-- First Page and Leading Ellipsis -->
                {% if page_obj.number > 3 %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">1</a>
                </li>
                {% if page_obj.number > 4 %}
                <li class="page-item disabled">
                    <span class="page-link">…</span>
                </li>
                {% endif %}
                {% endif %}
        
                <!-- Page Number Links -->
                {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                <li class="page-item active">
                    <span class="page-link">{{ num }}</span>
                </li>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
                {% endif %}
                {% endfor %}
        
                <!-- Trailing Ellipsis and Last Page -->
                {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
                <li class="page-item disabled">
                    <span class="page-link">…</span>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                </li>
                {% elif page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                </li>
                {% endif %}
        
                <!-- Next Page Link -->
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&raquo;</span>
                </li>
                {% endif %}
            </ul>
        </nav>
        
        <!-- {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">« Previous page</a>

            {% if page_obj.number > 3 %}
                <a href="?page=1">1</a>
                {% if page_obj.number > 4 %}
                <span>...</span>
                {% endif %}
            {% endif %}
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
                <span>...</span>
                <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
            {% elif page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
                <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
            {% endif %}

            <a href="?page={{ page_obj.next_page_number }}">Next Page »</a>
        {% endif %}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item disabled">
                <a class="page-link">Previous</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
        </nav>
        <div class="pagination mt-3 d-flex justify-content-between align-items-center">
            <div>
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
            </div>

            <div class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </div>

            <div>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </div>
        </div> -->
    {% else %}
    <section>
        <h1 class="visually-hidden">No posts found.</h1>
        <p class="h1">Hmm...</p>
        <p>There doesn't seem to be anything here.</p>
        <a href="{% url 'post-create' %}" class="btn btn-link ps-0 text-decoration-none pt-0"><i class="bi bi-plus-lg"></i> Create a Post</a>
    </section>
    {% endif %}
</div>
    
{% endblock %}
