{% extends 'base.html' %}
{% load tz %}

{% block title %}Post {{post}}{% endblock %}
{% block content %}
<style>
img:not(.profilePhoto) {
    width:auto;
    max-width: 100%;
    height:auto;
}
</style>
<div class="container pb-5 mt-3">
    <nav>
        {% if referrer_link %}
            <a href="{{referrer_link}}" class="text-decoration-none"><i class="bi bi-arrow-left me-2"></i>Back to posts</a>
        {% else %}
            <a href="{% url 'home' %}" class="text-decoration-none"><i class="bi bi-arrow-left me-2"></i>View all posts</a>
        {% endif %}
    </nav>
    <section>
        <div class="py-4">
            <h1 class="fw-bold display-4 {% if post.author == request.user %}mb-0{% endif %}">{{post.title}}</h1>
            {% if post.author == request.user %}
                <a href="{% url 'post-edit' post.id %}" class="text-decoration-none"><i class="bi bi-pencil me-2"></i>Edit this post</a>
            {% endif %}
            <div class="d-flex align-items-center flex-wrap justify-content-between {% if post.author == request.user %}mt-4{% endif %}">
                <div class="d-flex align-items-center flex-wrap">
                    {% if post.author.profile_photo %}
                    <div class="profile-photo">
                        <img src="{{ post.author.profile_photo.url }}" alt="{{post.author.get_full_name}} Profile Photo" class="rounded-circle profilePhoto"/> 
                    </div>
                    {% endif %}
                    <div class="text-muted {% if post.author.profile_photo %}ms-3{% endif %}">
                        {{post.author.get_full_name}} · {{post.created_at.date}}
                    </div>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <button class="btn btn-link text-decoration-none">
                        {% if is_favorite %}<i class="bi bi-star-fill me-1"></i>{% else %}<i class="bi bi-star me-1"></i>{% endif %} Favorite
                    </button>
                </form>
            </div>
            {% if post.created_at.date != post.last_updated.date %}
                <p class="fst-italic text-muted mt-2">Last updated: {{post.last_updated|localtime}}</p>
            {% endif %}
        </div>
        <hr />
        <div class="py-4">
            {{post.post_body|safe}}
            <div class="mt-5 fs-5 d-flex flex-wrap gap-2">
                {% for tag in post.tags.all %}
                    <span class="badge text-bg-light rounded-pill px-3">{{tag.name}}</span>
                {% endfor %}
            </div>
        </div>
        <hr />
    </section>
</div>
    
{% endblock %}
